[project]
	description = This is a sample application which is using TomTom API. It retrieves map's tiles.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/exoinvitemain (exoinvitemain)
[access "refs/for/refs/*"]
	read = group user/exoinvitemain (exoinvitemain)
	push = group user/exoinvitemain (exoinvitemain)
	label-Code-Review = -2..+2 group user/exoinvitemain (exoinvitemain)
	label-Verified = -1..+1 group user/exoinvitemain (exoinvitemain)
	rebase = group user/exoinvitemain (exoinvitemain)
	removeReviewer = group user/exoinvitemain (exoinvitemain)
	submit = group user/exoinvitemain (exoinvitemain)
[access "refs/heads/*"]
	read = group user/exoinvitemain (exoinvitemain)
	create = group user/exoinvitemain (exoinvitemain)
	push = +force group user/exoinvitemain (exoinvitemain)
	pushMerge = group user/exoinvitemain (exoinvitemain)
[access "refs/tags/*"]
	push = +force group user/exoinvitemain (exoinvitemain)
	pushTag = group user/exoinvitemain (exoinvitemain)
	pushSignedTag = group user/exoinvitemain (exoinvitemain)
